// Theme's Styles
@import("d:/xingkong/vuepress-theme-vdoing/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("d:/xingkong/vuepress-theme-vdoing/docs/.vuepress/styles/index.styl")